@font-face {
	font-family: Airfool;
	src: url('airfool.otf');
}

@font-face {
	font-family: VacaHeavy;
	src: url('vacaHeavy.ttf');
}

body, html {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	height: 100%;
	background: #32185d;
	background: linear-gradient(32deg, #32185d 20%, #644aab 47%, #3e3360 70%, #8e85bb 100%);
}

.wrapper {
	margin: auto;
}

.reset {
	display: block;
	margin: 50px auto;
	height: 50px;
	font-size: 20px;
	font-family: Airfool;
	border:solid 3px #ffc400;
	background-color:#2a2a2a;
	color: #ffc400;
	cursor: pointer;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
}
	
.reset:hover {
	-webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
	transform: scale(1.5);
	border-radius:50%;
}

.tableGame td {
	width: 85px;
	height: 85px;
	background-color: #ffc400;
	color: #2a2a2a;
	font-family: Airfool;
	font-size: 40px;
	font-weight: bolder;
	border: solid 4px #2a2a2a;
	text-align: center;
}

.tableGame td:hover {
	cursor: pointer;
	box-shadow: inset 0 0 0 7px #2a2a2a;
}

.message {
	height: 50px;
	width: 390px;
	line-height: 50px;
	text-align: center;
	font-family: VacaHeavy;
	font-size: 26px;
	font-weight: bold;
	color: #531818;
	padding: 30px 0px;
}